*,
::before,
::after {
  box-sizing: border-box;
}

h1{
  font-size: 30px;
  padding-left: 15px;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding:0;
}

.main_wrapper{
  display: flex;
  justify-content: center;
}

.accordion_wrapper{
  width: 90%;
  background:#E0EBF5;
}
@media(min-width:1320px){
.accordion_wrapper:hover{
  cursor: pointer;
}
}

@media(min-width:1320px){
.accordion_wrapper:hover .accordion-item_trigger{
    color:black;
}
}


.accordion-item{
  position: relative;
  margin-bottom:20px;

}

.accordion-item_input{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.accordion-item_content{
  margin-bottom:10px;
  padding:20px;
  border-top:none;
  max-height: 0;
  transition: all 1s ease-out;
  justify-content: center;
  margin:0;
  padding:0;
}
@media(min-width:1320px){
.accordion-item_trigger:hover{
  cursor: pointer;
}
}

.accordion-item_trigger{
  color:blue;
  font-weight: bold;
  display: block;
  padding:20px;
  border-top: 1px solid black;
  font-size: 25px;
}

.accordion-item_input:checked ~ .accordion-item_trigger{

}

.accordion-item_input:checked ~ .accordion-item_content{
display: flex;
transition: all 1s ease-out;
}

.accordion-item_input:checked ~ .accordion-item_trigger{
    color:blue;
  }

  .accordion-item_input:checked ~ .accordion-item_trigger .text_wrapper .plus_icon{
    transition: all 0.4s ease-out;
    transform: rotate(45deg);
  }
  @media(min-width:1320px){
  .accordion-item_input:hover ~ .accordion-item_trigger .text_wrapper .plus_icon{
    transition: all 0.4s ease-out;
    transform: rotate(45deg);
  }
  }
  @media(min-width:1320px){
.accordion-item_input:hover ~ .accordion-item_content{
  display: flex;
  transition: all 0.5s ease-out;
  max-height: 500px;
  }
  }
  .accordion-item_input:checked ~ .accordion-item_content{
    display: flex;
    transition: all 0.5s ease-out;
    max-height: 500px;
    }
    @media(min-width:1320px){
  .accordion-item_input:hover ~ .accordion-item_content .img_meme {
    transition: all 0.5s ease-out;
    max-height: 400px;
  }
    }
  .accordion-item_input:checked ~ .accordion-item_content .img_meme {
    transition: all 0.5s ease-out;
    max-height: 400px;
  }

@media(max-width:320px){
  .img_meme{
    width: 200px;
    height: 200px;
  }
}

.text_wrapper{
  display: flex;
  justify-content: space-between;
}

.plus_icon{
  width: 20px;
  height: 20px;
  align-self: center;
  transition: all 0.4s ease-out;
}

.img_meme{
  max-height: 0px;
  transition: all 0.5ms ease-out;
}